@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,400&display=swap')

$color-purple: #662675
$color-light-purple: #852C9A
$color-gray: #707070
$color-light-gray: #D5D5D5
$color-dark-blue: #0C1E3C
$color-white: #ffffff
$color-dark: #343434
  
*,*:before,*:after
  padding: 0
  margin: 0
  box-sizing: inherit

html
  box-sizing: border-box
  font: 18px/1.5'Roboto Condensed', sans-serif

body, input, textarea, option, select, table, form, p
  font: inherit 

.container
  max-width: 100vw
  height: 100vh
  padding: 0 100px
h1
  font-size: 60px
  font-weight: 300
  color: $color-white
  margin-right: 30px
h2
  font-size: 50px
  font-weight: 300
  color: $color-white
li
  list-style: none
a
  text-decoration: none
  color: $color-white
  &:hover
    text-decoration: underline 
    color: $color-white
p
  color: $color-white
  margin: 0
button:focus
  outline: none
// helper class
.vh
  height: 110vh
.ml
  margin-left: 200px
.td
  text-decoration: underline
  transition: 0.5s
  &:hover
    color: $color-light-purple
.sml-size
  font-size: 14px
.d-pg
  max-width: 100vw
  height: 100vh
.d-f
  display: flex
  flex-direction: column
  align-items: flex-end