.main-btn
  width: 200px
  height: 50px
  border-radius: 25px
  background-color: $color-light-purple
  color: $color-white
  display: flex
  align-items: center
  justify-content: center
  font-weight: 700
  transition: .8s
  &.second-btn
    border: 1px solid  $color-light-purple
    background: transparent
    color:  $color-light-purple
    margin-top: 0
  &.third 
    color: $color-white
    
.main-btn:hover
  background-color: $color-white
  color: $color-light-purple
  text-decoration: none
.second-btn:hover
  background-color: $color-light-purple
  color: $color-white
.third:hover
  color: $color-light-purple
  background-color: $color-white 
  border: 1px solid  $color-light-purple
  text-decoration: none