// Background
.bg-img
  background: url("/images/bg-image.png") no-repeat
  background-position: center
  background-size: cover
.bg-color
  background-color: $color-dark-blue

// header
.header
  padding: 40px 0px
  display: flex
  align-items: baseline
.logo
  margin-right: 100px
.nav-bar
  width: 100%
  display: flex
  justify-content: space-between
  align-items: baseline
  ul
    display: flex
    li
      padding-right: 20px
.lang
  color: $color-white
  font-size: 25px
  font-weight: 700
.active-color
  color: $color-light-purple !important

.reasons
  font-size: 25px
  margin-bottom: 100px

//form 
.bg-white
  height: 470px
  width: 415px
  background-color: $color-white
  border-radius: 25px 
  a,p
    color: $color-dark
    font-size: 25px
  &.second
    height: 530px
  .add-folder
    padding: 90px 40px
  input 
    width: 100%
    height: 100px 
    border: 1px solid $color-light-gray
    padding: 0 40px
    margin-bottom: 40px
  .cop-link
    display: flex
    justify-content: center 
    a
      font-size: 18px
.more-info
 width: 415px
 padding: 20px 70px

//  third page
.step-three
  border-bottom: 1px solid $color-light-gray
  margin-bottom: 30px
  .loading
    font-size: 35px
    font-weight: 700
    padding: 20px 0
  span 
    font-size: 30px

// fourth page
.step-four
  border-bottom: 1px solid $color-light-gray
  margin-bottom: 30px
  .loading-done
    font-size: 35px
    font-weight: 700
    padding: 30px 0
  span
    border: 1px solid $color-light-gray
    border-radius: 25px
    padding: 5px 10px
    margin-bottom: 30px
