// nav-bar
.nav-item
  display: flex
  justify-content: center
  a
    color: $color-white !important
// ----------------------------------------------------
@media (max-width: 1264px)
  h1
    font-size: 50px
  .ml
    margin: 50px 0 100px 0
// ----------------------------------------------------
@media (max-width: 992px)
  .container 
    height: 100% !important
  .reasons
    margin-bottom: 50px
  .slogan
    h2
      font-size: 40px
      margin: 100px 0 100px 0
  .more-info 
      width: 100%
      padding: 0
      margin: 40px 0
  .d-f
    align-items: flex-start !important
// ----------------------------------------------------
@media (max-width: 576px)
  .container 
    padding: 30px
  .navbar
    padding-top: 0 !important
  h1
    font-size: 30px
  .bg-white
    height: 100%
    width: 100%
  .add-folder
    padding: 10px !important
    flex-direction: column
  .cop-link
    margin: 10px
  .main-btn
    width: 100%
    font-size: 14px !important
  .ml
    margin: 50px 0 60px 0

 