@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,400&display=swap");
*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: 18px/1.5 "Roboto Condensed", sans-serif;
}

body, input, textarea, option, select, table, form, p {
  font: inherit;
}

.container {
  max-width: 100vw;
  height: 100vh;
  padding: 0 100px;
}

h1 {
  font-size: 60px;
  font-weight: 300;
  color: #ffffff;
  margin-right: 30px;
}

h2 {
  font-size: 50px;
  font-weight: 300;
  color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
  color: #ffffff;
}

p {
  color: #ffffff;
  margin: 0;
}

button:focus {
  outline: none;
}

.vh {
  height: 110vh;
}

.ml {
  margin-left: 200px;
}

.td {
  text-decoration: underline;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.td:hover {
  color: #852C9A;
}

.sml-size {
  font-size: 14px;
}

.d-pg {
  max-width: 100vw;
  height: 100vh;
}

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bg-img {
  background: url("/images/bg-image.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-color {
  background-color: #0C1E3C;
}

.header {
  padding: 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo {
  margin-right: 100px;
}

.nav-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar ul li {
  padding-right: 20px;
}

.lang {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
}

.active-color {
  color: #852C9A !important;
}

.reasons {
  font-size: 25px;
  margin-bottom: 100px;
}

.bg-white {
  height: 470px;
  width: 415px;
  background-color: #ffffff;
  border-radius: 25px;
}

.bg-white a, .bg-white p {
  color: #343434;
  font-size: 25px;
}

.bg-white.second {
  height: 530px;
}

.bg-white .add-folder {
  padding: 90px 40px;
}

.bg-white input {
  width: 100%;
  height: 100px;
  border: 1px solid #D5D5D5;
  padding: 0 40px;
  margin-bottom: 40px;
}

.bg-white .cop-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-white .cop-link a {
  font-size: 18px;
}

.more-info {
  width: 415px;
  padding: 20px 70px;
}

.step-three {
  border-bottom: 1px solid #D5D5D5;
  margin-bottom: 30px;
}

.step-three .loading {
  font-size: 35px;
  font-weight: 700;
  padding: 20px 0;
}

.step-three span {
  font-size: 30px;
}

.step-four {
  border-bottom: 1px solid #D5D5D5;
  margin-bottom: 30px;
}

.step-four .loading-done {
  font-size: 35px;
  font-weight: 700;
  padding: 30px 0;
}

.step-four span {
  border: 1px solid #D5D5D5;
  border-radius: 25px;
  padding: 5px 10px;
  margin-bottom: 30px;
}

.main-btn {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background-color: #852C9A;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  -webkit-transition: .8s;
  transition: .8s;
}

.main-btn.second-btn {
  border: 1px solid #852C9A;
  background: transparent;
  color: #852C9A;
  margin-top: 0;
}

.main-btn.third {
  color: #ffffff;
}

.main-btn:hover {
  background-color: #ffffff;
  color: #852C9A;
  text-decoration: none;
}

.second-btn:hover {
  background-color: #852C9A;
  color: #ffffff;
}

.third:hover {
  color: #852C9A;
  background-color: #ffffff;
  border: 1px solid #852C9A;
  text-decoration: none;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-item a {
  color: #ffffff !important;
}

@media (max-width: 1264px) {
  h1 {
    font-size: 50px;
  }
  .ml {
    margin: 50px 0 100px 0;
  }
}

@media (max-width: 992px) {
  .container {
    height: 100% !important;
  }
  .reasons {
    margin-bottom: 50px;
  }
  .slogan h2 {
    font-size: 40px;
    margin: 100px 0 100px 0;
  }
  .more-info {
    width: 100%;
    padding: 0;
    margin: 40px 0;
  }
  .d-f {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 30px;
  }
  .navbar {
    padding-top: 0 !important;
  }
  h1 {
    font-size: 30px;
  }
  .bg-white {
    height: 100%;
    width: 100%;
  }
  .add-folder {
    padding: 10px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cop-link {
    margin: 10px;
  }
  .main-btn {
    width: 100%;
    font-size: 14px !important;
  }
  .ml {
    margin: 50px 0 60px 0;
  }
}
/*# sourceMappingURL=main.css.map */