
<div class="d-none d-lg-block d-xl-block">
  <div class="header">
    <div class="logo">
      <a href="">
        <img src="./images/logo.png" alt="">
      </a>
    </div>
    <nav class="nav-bar">
      <ul>
        <li><a href="#">Въпроси</a></li>
        <li><a href="#">IDL Hub</a></li>
        <li><a href="#">Профил</a></li>
        <li><a href="#">Регистрация</a></li>
      </ul>
      <div class="lang">
        <a class="active-color" href="#">БГ</a> | <a href="#">EN</a>
      </div>
    </nav>
  </div>
</div>
<!-- mobile version -->
<div class="d-md-block d-lg-none d-xl-none" >
  <div class="navbar navbar-light pt-4">
    <a class="navbar-brand" href="index.html"><img id="logo" class="" src="./images/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="">
      <img style="width: 18px" src="./images/h-menu.png" alt="">
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="#">БГ</a><span class="px-2 text-light">|</span><a href="#"> EN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Въпроси</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">IDL Hub</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Профил</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Регистрация</a>
      </li>
    </ul>
  </div>
</div>
</div>